<html>
  <head>
    <title>Music Collector's Helper</title>
  </head>

  <body>
    <p></p>
  
    <H1>Complete your music collection.</H1>
  
    <p> You probably have a lot of music in your iTunes collection, but do you have 
    everything from your favorite artists? This tool will examine your collection and
    let you know what you can add to make your collection complete.</p>
  
    <p>Please select your system and click the button below to upload your iTunes music 
    library file to our server for processing.</p>
  
  
    <div id=""
      
    <h1>Upload new File</h1>
    <form action="/xmlfile" method="post" enctype="multipart/form-data">
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
    </div>
  
  </body>
</html>
